.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}

.information{
    width: 60vw;
    text-align: justify;
    font-size: x-large;
}

.media{
    width: 60%;
    aspect-ratio: 16/9;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 600px) {
    .information{
        width: 70vw;
    }
}