:root{
    --blue: #004aad;
    --dark-gray: #545454;
    --light-gray: #d9d9d9
}

*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#root{
    padding-top: 4rem;
    padding-bottom: 15rem;
    min-height: calc(100vh - 15rem);
    position: relative;
}

::-webkit-scrollbar-thumb:vertical{
    height: 0.5rem;
    background-color: var(--blue);
}

::-webkit-scrollbar{
    width: 0.4rem;
}