.container{
    background-color: #004aad;
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: -4rem;
    width: 100%;
    z-index: 2;
}

.name{
    color: white;
    font-size: larger;
    padding: 1rem;
    font-family: 'Kanit', sans-serif;
}

.icon{
    width: 3.5rem;
    border-radius: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    
}

.sticky{
    position: fixed;
    width: 100%;
    animation: showNav;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes showNav {
    from{
        margin-top: -8rem;
    }
    to{
        margin-top: -4rem;
    }
}

.links{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.links a{
    text-decoration: none;
}

.links p, .links a{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;   
    transition-duration: 300ms;
    color: #d9d9d9;
    margin: 0px;
}

.links p:hover, .links a:hover{
    color: #111;
    transition-duration: 300ms;
    animation: bordered;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

@keyframes bordered {
    0%{
        border: none;
    }
    50%{
        border: 1px solid #d9d9d9;
    }
    75%{
        transform: skew(10deg);
        rotate: -1deg;
    }
    100%{
        padding: 0.7rem;
        background-color: #d9d9d9;
        transform: skew(10deg);
        rotate: -1deg;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu p{
    z-index: 10;
}

.menuButton{
    display: none;
}

@media (max-width: 801px) {
    .links{
        display: none;
    }

    .menuButton{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuButton button{
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
    }

    .menuButton i{
        font-size: 1.5rem;
        color: white;
    }
}