.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 2rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
}

.imgContainer{
    max-width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 50px #004bad7a;
}

.video{
    width: 40rem;
    aspect-ratio: 16/9;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video::before{
    content: 'video pelotero';
    position: absolute;
    text-align: center ;
    font-size: larger;
    font-weight: bold;
}

.secondDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    width: 40vw;
}

.description{
    margin-top: 3rem;
    text-align: right;
    font-size: large;
    word-wrap: break-word;
    max-width: 35rem;
}

@media (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .secondDiv{
        width: 100%;
    }
    .header{
        width: 100%;
        justify-content: space-around;
    }
    .description{
        text-align: center;
    }
    .video{
        width: auto;
    }
    .header h2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 10rem;
    }
}